body {
    background: linear-gradient(to right, #0f172a, #1e293b); /* Degradado oscuro */
    font-family: 'Raleway', sans-serif;
    color: #333; /* Color de texto por defecto */
    margin: 0;
    padding: 0;
}
#contenido {
    background-color: white;
    margin: 40px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras más suaves */
}
#contenido::after {
    clear: both;
    display: block;
    content: '';
}
header {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}
form {
    margin: 30px 0;
}


#loaders {
    text-align: center;
}
#resetBtn {
    float: right;
}
