body {
    background: linear-gradient(to right, #0f172a, #1e293b); /* Degradado oscuro */
    font-family: 'Raleway', sans-serif;
    color: #333; /* Color de texto por defecto */
    margin: 0;
    padding: 0;
}
#contenido {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#contenido::after {
    clear: both;
    display: block;
    content: '';
}
header {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 4vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}
form {
    margin: 30px 0;
}

input, textarea {
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.05);
    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    color: rgba(74,85,104);
}

input:focus, textarea:focus {
    outline: none;
    border-color: #3b82f6; /* Azul suave */
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2); /* Sombra azul */
}

#loaders {
    text-align: center;
}
#resetBtn {
    float: right;
}
